@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');


div#stripes {
  height: 92%;
  margin: 4%;
  width: 92%;
  background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, #95fcff);
  background-size: 10px 10px;
}

body {
font-family: 'DM Serif Display', serif;

}
.caption {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  text-align: center;
  color: #000;
}

.mze {
  color: f61c27;
  font-size: 40vw;

  }

* {
  box-sizing: border-box;
}
.box {
   display: flex;
  align-items: center;
  justify-content: center;
}
.umn {   
  float: left;
  width: 33%;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 70px;


  
}
.eighty {
   align: center;
   text-align: center;
   width: 95%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .umn {   
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 70px;
  }
}


