body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("https://cdn.shopify.com/s/files/1/0056/1345/3402/files/dawn-evening-gradation-1544880.jpg?2766");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
